.search-movies {
  padding: 0 14px 60px;
  box-sizing: border-box;
}

@media screen and (min-width: 768px) {
  .search-movies {
    padding: 0 30px 63px;
  }
}

@media screen and (min-width: 1280px) {
  .search-movies {
    padding: 0 70px 55px;
    max-width: 1280px;
  }
}
