.header {
  width: 100%;
  display: flex;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 1.6;
  justify-content: space-between;
}

.header_place_landing {
  background-color: #073042;
}

.header_place_app {
  background-color: #202020;
}

.header__landing-menu {
  display: flex;
  column-gap: 14px;
  margin-right: 14px;
  align-self: center;
}

.header__landing-menu_hidden {
  display: none;
}

.header__app-menu {
  display: block;
  margin-right: 14px;
  align-self: center;
}

.header__app-menu_hidden {
  display: none;
}

.header__logo {
  display: block;
  margin: 18px 0 18px 14px;
  width: 38px;
  height: 38px;
}

.header__link {
  align-self: center;
  color: #fff;
  text-decoration: none;
}

.header__link:hover {
  cursor: pointer;
  opacity: .7;
}

.header__icon-menu {
  display: block;
  height: 44px;
  width: 40px;
}

.header__icon-menu_hidden {
  display: none;
}

@media screen and (min-width: 768px) {
  .header {
    font-size: 12px;
    line-height: 1.33;
  }

  .header__landing-menu {
    margin-right: 30px;
    column-gap: 30px;
  }

  .header__app-menu {
    margin-right: 30px;
  }

  .header__logo {
    margin-left: 30px;
  }

  .header__icon-menu {
    width: 44px;
  }
}

@media screen and (min-width: 1280px) {
  .header {
    max-width: 1280px;
  }

  .header__landing-menu {
    margin-right: 70px;
  }

  .header__app-menu {
    margin-right: 70px;
  }

  .header__logo {
    margin-left: 70px;
  }
}
